@media only screen and (min-width: 800px) {
  .cards-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .cards-container .card-body {
    width: 100%;
  }
}

.cards-container .card-body {
  background-color: #0b223a;
}
