.App {
  background-color: slategray;
  color: white;
}

.solo-mobile {
  display: none;
}

.solo-desktop {
  display: block;
}

@media only screen and (min-width: 100px) and (max-width: 830px) {
  .solo-mobile {
    display: block;
  }

  .solo-desktop {
    display: none;
  }
}
